# Puerto del servidor
PORT=3000

#  ESTA ES LA CLAVE SECRETA

# Secreto para firmar la cookie de sesión 
SESSION_SECRET=

# Secreto para firmar el Token
JWT_SECRET=

# Clave de Google para OAuth 
GOOGLE_CLIENT_ID=1023211180795-eo8j0gbjp5j5bbmaj0ujt980od48tp6h.apps.googleusercontent.com

# Entorno: development | production
NODE_ENV=development

# Tipo de almacenamiento de sesiones: memory | file | mongo
SESSION_STORE=mongo


# Puede ser local: mongodb://localhost:27017

# O de Atlas: 
MONGODB_URI=mongodb+srv://danielapringlemorgan_db_user:codigomongoatlas@clinicacuracioncoder.pzqexzd.mongodb.net/?appName=ClinicaCuracionCoder